* {
  margin:0;
  padding: 0;
}

html{
  font-family: 'Sono', sans-serif;
  background-color: #F5F5F5;
  /* background-color: #DEBACE; */
  
}

.app {
  margin: 2rem;
  padding: 1rem;
  color: #3C6385;
  /* color: #863A6F; */
}

/* ----- header ----- */



/* ----- footer ----- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  
}



/* Submit button */
.button-52 {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 1em 1.4em 1em;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input{
  /* width: 30%;
  height: 5%; */
  margin: 1em;
  /* padding: 2em; */
  /* border-radius: 1rem; */
}

.button-52:after {
  content: "";
  background-color: #BECDC3;
  /* background-color: #E97777; */
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

/* --- media queries --- */
@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}