* {
  margin:0;
  padding: 0;
}

html{
  font-family: 'VT323', monospace;
  /* font-family: 'Sono', sans-serif; */
  background-color: #F5F5F5;
  /* background-color: #DEBACE; */
  
}

.body {
  /* width: 900px; */
  width: 85%;
  margin: auto;
  padding: 1.5rem;
  color: #3C6385;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* height: 100vh; */
}

h1, h2, h3, h4 {
  margin: 1rem;;
}

/* ----- Header ----- */
.header{
  width: 100%;
  /* padding: 60px; */
  text-align: center;
  color: #3C6385;
  font-size: 2.5rem;
  font-weight: bold;
  /* position: relative;
  position: fixed;
  top: 0;
  overflow: hidden; */
}

/* ----- Navbar ----- */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.nav-item {
  font-size: 1.2rem;
  font-weight: bold;
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}


li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #3C6385;
}

input[type=text], textarea {
  /* width: 100%; */
  /* padding: 2rem; */
  border: 1px solid #3C6385;
  border-radius: 4px;
  resize: vertical;
  font: inherit;
}

/* ----- Container ----- */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; */
  margin:auto;
  padding: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 10px;
  /* border-style: solid;
  border-color: #C4C7CB; */
  border-width: 1px;
  width: 180px;
  margin: 15px;
}

.board-img {
  width: 190px;
  height: 280px;
  margin: 1em;
}

.add-board-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

label {
  flex: none;
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
}
.add-board-input {
  /* justify-content: center;
  width: 100%; */
  /* padding: 0.5rem 1rem;
  margin: 1rem 2rem;
  border: 2px solid F2CECE;
  border-radius: 5px; */
}

.addboard-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.img-single {
  width: 300px;
  height: 400px;
}

/* ----- Profile page ----- */
/* .profile-list {
  display: flex;
} */


.profile-item {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}



/* ----- Footer ----- */
footer {
  position: relative; 
  bottom: 0;
  text-align: center;
  /* left:auto;
  right: auto; */
  /* position: relative;
  bottom: 0;
  width: 100%;
  text-align: center; */
  
}


/* ----- Extra Stuff ----- */
/* Submit button */
.button-23 {
  font-family : inherit;
  background-color: #F5F5F5;
  border: 1px solid #3C6385;
  border-radius: 8px;
  box-sizing: border-box;
  color: #3C6385;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin: 1rem;
  outline: none;
  padding: 13px 23px;
}

/* .button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
} */

/* --- media queries --- */
/* @media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
} */

.boxPicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}